<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FirstTeamScouter_Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FirstTeamScouter_Server.Properties.Settings>
            <setting name="ExportPath" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="ImportPath" serializeAs="String">
                <value>C:\temp</value>
            </setting>
        </FirstTeamScouter_Server.Properties.Settings>
    </userSettings>
</configuration>